*{
    box-sizing: border-box;
      margin: 0px;
      padding: 0px;
  }
  
  main{
      display:flex;
      justify-content: center;
      align-items: center;
      min-height: 600px;
      background-color: rgba(168, 161, 161, 0.288);
  }
  section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:700px;
      border:1px solid gray;
  }
  h1{
      background-color:gray;
      color:white;
      height:50px;
      width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow: 1px 1px 2px black ;
     
      
  }
  
  form{
      display: flex;
      align-items: center;
      justify-content: space-around;
  flex-wrap: wrap;
      width: 500px;
     
    
  }
  
  .input{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:200px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  input{
      border-radius: 4px;
      height: 30px;
      width: 220px;
      border: none;
  }
  
  input::placeholder{
    color: rgba(59, 58, 63, 0.199);  
    font-size: 20px;
    font-weight: bold;
  }
  .input2{
    
      background-color:gray;
      margin-bottom: 20px; 
       height: 60px;
       color:white;
       width:70%;
       cursor: pointer;
       text-shadow: 1px 1px 2px black ;
       color: white;
       font: 2.5em Georgia, serif;
  }
  label{
      font-weight: 800;
      text-shadow: 2;
    
      
  }
  
  p{
      border: 1px solid gray;
      height:40px;
      text-align: center;
      width:80%;
      display: flex;
    justify-content:center;
    align-items: center;
  }
  .valid{
      color:green
  }
  
  .foccus{
      background-color: rgba(1, 126, 1, 0.151);
  }
  
  .error{
      color:red
  }
  
  .error:focus{
      background-color: rgba(126, 1, 1, 0.151); 
  }